.ElementBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 48px;
  padding: 5px 3px;
  margin: 4px 0;

  svg {
    width: 20px;
    height: 20px;
  }
}