.Drawer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ElementForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__Section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__ExtraTopMargin {
    margin-top: 7px;
  }

  &__FormField {
    width: 100%;

    div {
      border-radius: 0 !important;
    }
  }

  &__DateTimeContainer {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }

  &__DatePicker {
    width: 100%;

    div {
      border-radius: 0 !important;
    }
  }

}