.CopyLinkModal {
  display: flex;
  align-items: center;
  padding: 2px 4px !important;

  width: 100%;
  border: 1px solid $border !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}