.Section {
  background-color: $white !important;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 15px !important;

  margin: 3% 4%;
  padding: 3% 3%;
  box-sizing: border-box;

  &__Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
  }

  &__Icon {
    background-color: $selected-darker;
    border-radius: 7px;
    color: $white !important;
    padding: 2px;
    font-size: 26px !important;
    margin-right: 5px;
    transition: transform 0.3s ease !important;

    &__Open {
      transform: rotate(90deg);
    }

    &:hover {
      color: $lightest-gray !important;
    }
  }
}