// page
$primary-bg: #F7F7F7;
$bg-drop: #2E2E2E; // add 70 opacity
$error: #DE6367;

// bar
$primary-bg-bar: #373A42;

// buttons
$primary-bg-button: #404248;
$secondary-bg-button: #373A42;

$selected-bg-button: #A3D4F0;
$selected-button-border: #4B91B9;
$selected-darker: #449acd;

// text
$primary-text: #FFFFFF;
$secondary-text: #585B61;

// others
$lighter-gray: #585B61;
$lightest-gray: #F1F1F1;
$dirty-white: #F5F5F5;
$white: #FFFFFF;
